@charset "utf-8";
/* CSS Document */

.login{padding:20px 0 20px 50px !important; overflow:hidden;}
.loginBox{
	float:left;
	padding:28px;
}
.loginAd{
	float:right;
	padding:30px 20px;
	border-left:solid 1px #bfbfbe;
	line-height:200%;
	color:#636363;
}
.loginpic{border-top:solid 1px #bfbfbe; background:url(../images/ad/img02.jpg) no-repeat center bottom; height:80px; margin-top:20px;}
.loginAd h5{font:22px/200% "微软雅黑"; color:#333331;}

.loginTbl,.registrTbl{border:none; color:#333331;}
.loginTbl td,.registrTbl td{padding:8px 5px;}
.loginTbl td.name,.registrTbl td.name{width:100px; text-align:right;}
.registrTbl .registrh1{margin:15px 0;}

.registrTbl{margin:0 auto;}
.cartBox .clause p{border: 1px dotted #FAA21C;padding:10px;color:#A7552E; margin:10px;background: #FFF9ED;}
.cartBox .clause h3{width:100%;font:bold 18px/40px "微软雅黑";border-bottom: 1px solid #ccc;color:#333;text-align: center;}
.cartBox .clause dt{width:100%;font:bold 14px/30px "微软雅黑"; color:#424242;}
.cartBox .clause dd{width:100%;font:12px/22px "宋体"; color:#666;text-indent: 24px;}