@charset "utf-8";
/* CSS Document */

.sSidebar{
	float:left;
	width:255px;
	padding:0 0 120px 22px;
	background:url(../images/MyHome/bg-sMenu-bottom.png) no-repeat right bottom;
}
.sMenu{
	position:relative;
	width:255px;
	min-height:500px;	
	padding-top:30px;
	background:url(../images/MyHome/bg-sMenu-y.png) repeat-y;
}
.sMenu .menu{
	position:absolute;
	left:-16px;
	top:32px;
	width:280px;
	background:url(../images/MyHome/bg-menu-top.png) no-repeat;
	padding-top:20px;
	z-index:9;
}
.sMenu .menu .cont{
	padding:0 30px;
	background:url(../images/MyHome/bg-menu-cont-y.png) repeat-y;
}
.sMenu .menu .bottom{
	height:25px;
	background:url(../images/MyHome/bg-menu-bottom.png) no-repeat;
}
.sMenu .menu .cont li{
	padding:5px 5px 0;
	border-bottom:dotted 1px #ff7d28;
	font:bold 14px/30px "";
}
.sMenu .menu .cont li span{color:#f90;}
.sMenu .menu .cont li a:hover,
.sMenu .menu .cont li a.current{color:#009fe9; text-decoration:none;}
.sMenu .menu .cont li .more{
	float:right;
	width:15px;
	height:15px;
	margin:5px 0;
	background:url(../images/icons/icon-more02.png) no-repeat;
}

.sMenu .menu .cont2{
	padding-left:4px;
	background:url(../images/MyHome/bg-menu-cont-y.png) repeat-y;
	height: 180px;
}
.sMenu .menu .cont2 li{
	padding:5px 30px 0 26px;
	font:bold 14px/30px "";
	position:relative;
}
.sMenu .menu .cont2 h1{border-bottom:dotted 1px #ff7d28;}
.sMenu .menu .cont2 li span{color:#f90;}
.sMenu .menu .cont2 li .more{
	float:right;
	width:15px;
	height:15px;
	margin:5px 0;
	background:url(../images/icons/icon-more02.png) no-repeat;
}
.sMenu .menu .cont2 li:hover{background:url(../images/MyHome/bg-menu-hover.png) no-repeat left center; cursor:pointer;}
.sMenu .menu .cont2 li:hover .more{background:url(../images/icons/icon-more03.png) no-repeat; padding-right:5px;}
.sMenu .menu .cont2 li:hover a.navTit,
.sMenu .menu .cont2 li a.navTit:hover,
.sMenu .menu .cont2 li a.navTit.current{color:#009fe9; text-decoration:none;}


.mSidebar{padding-bottom:0; background:none;}
.mSidebar .sMenu{min-height:245px;}


.breadcrumbs{overflow:hidden; padding:20px;}
.breadcrumbs input.back,.cardTotal input.back{border:none; background:url(../images/MyHome/back-button.gif) no-repeat center; height:28px; color:#009fe9; width:111px;}
.breadcrumbs input.back:hover,.cardTotal input.back:hover{cursor:pointer;}
.breadcrumbs span{color:#009fe9;}
.breadcrumbs table{margin:10px auto 0; border:none;}

.mflash{
}

.applyPro{
	overflow:hidden;padding:30px 10px 30px 60px;
}
.picArea{
	float:left;
	width:135px;
	height:135px;
	background:url(../images/MyHome/bg-pro01.png) no-repeat;
	padding:2px 0 0 2px;
	overflow:hidden;
}
.applyPro .infoArea{float:left;}
.applyPro table{
	width:100%;
	border:none;
	margin-top:20px;
	color:#009fe9;
	font:bold 14px/200% "";
}
.applyPro td{padding:10px 2px;}
.applyPro td.name{width:120px; text-align:right;}

.txcsLeft{
	float:left;
	
	border-right:dashed 1px #ccc;
	padding:15px;
	width:52%;
}
.txcsRight{
	float:left;
	padding:40px 20px 15px 5px;
}

.txcsRightVlan{
	float:left;
	padding:0px 20px 15px 5px;
}

.txcsLeft h5{padding:10px 10px 0; font:bold 14px/200% "宋体","微软雅黑"; color:#009fe9;}
.txcsRight h1{margin:-30px 0 0 30px; font:bold 18px/200% "宋体","微软雅黑"; color:#009fe9;}

.txcsLeft table {
    border: medium none;
    color: #009FE9;
    font: bold 14px/300% "";
    margin: 10px 0 0 10px;
}

.sCont{
	margin:-5px 20px 0 272px;
	padding:20px 10px 4px;
	background:url(../images/MyHome/bg-sCont-top-x.gif) repeat-x top;
}
.aCont{
	margin:-5px 20px 0 22px;
	padding:20px 10px;
	background:url(../images/MyHome/bg-sCont-top-x.gif) repeat-x top;
}
.cartCont{
	margin:-5px 20px 0 22px;
	padding:20px 10px;
	background:url(../images/MyHome/bg-sCont-top-x.gif) repeat-x top;
}


.cartCont .breadcrumbs{padding:20px; text-align:center;}


.cartBox{margin-top:10px;}
.cartBox .topic,.treeri .topic{
	position:relative;
	height:27px;
	border:solid 1px #ced4db;
	background:url(../images/bg-hotList02-topic-x.gif) repeat-x;
}
.cartBox .topic h2,
.cartBox .topic h4{
	position:absolute;
	top:-15px;
	left:20px;
	height:25px;
	padding:10px 0 0 40px;
	background:url(../images/icons/icon-cart.png) no-repeat left bottom;
	font:14px/35px "微软雅黑";
	color:#ea9300;
	font-weight:bold;
}
.cartBox .topic h3{
	padding:0 15px;
	font:14px/27px "","微软雅黑";
	color:#009fe9;
	font-weight:bold;
}
.cartBox .topic h4{background:url(../images/icons/icon-popup-02.png) no-repeat left bottom;}

.cartBox .topic span{float:right; padding:3px 10px 0;}
.cartBox .cont{
	border:solid 1px #ced4db;
	border-top:none;
	background:url(../images/bg-hotList02-cont-x.gif) repeat-x;
	padding:60px 50px;
}

.cardTotal{
	height:21px;
	margin-top:15px;
	padding:10px;
	background:url(../images/MyHome/bg-cardTotal-x.gif) repeat-x;
}
.cardTotal span{float:right;}

.tab01{}
.tab01 ul.tab{
	height:30px;
	background:url(../images/MyHome/bg-tab01-x.gif) repeat-x;
}
.tab01 ul.tab li{
	float:left;
	width:100px;
	height:27px;
	padding-left:25px;
	cursor:pointer;
	line-height:27px;
}
.tab01 ul.tab li.current{background:url(../images/MyHome/bg-tab01-li-current.gif) no-repeat; cursor:auto;}

.tab02 ul.tab{
	height:32px;
	background:url(../images/MyHome/bg-tab02-x.gif) repeat-x;
	font-weight:bold;
	font-family:"微软雅黑";
	font-size:13px;
}
.tab02 ul.tab li{
	float:left;
	width:108px;
	height:32px;
	margin-right:10px;
	background:url(../images/MyHome/bg-tab02-li.gif) no-repeat;
	cursor:pointer;
	line-height:30px;
	text-align:center;
}
.tab02 ul.tab li.current{background:url(../images/MyHome/bg-tab02-li-current.gif) no-repeat; cursor:pointer; color:#1aa6e7;}

.tab02 .cont{
	position:relative;
	border:solid 1px #d8d8d8;
	border-top:none;
	padding:10px;
	font:14px/200% "宋体","微软雅黑";
	text-indent:2em;
	background:none; 
	height:170px;
}

.tab02{margin-top: 20px;}

.tab02 .cont .radius-tl,
.tab02 .cont .radius-tr,
.tab02 .cont .radius-bl,
.tab02 .cont .radius-br{
	position:absolute;
	width:15px;
	height:15px;
	background:url(../images/MyHome/bg-tab02-cont-radius.gif) no-repeat;
}
.tab02 .cont .radius-tl{top:-11px; left:-11px;}
.tab02 .cont .radius-tr{top:-6px; right:-1px; background-position:right 0;}
.tab02 .cont .radius-bl{bottom:-1px; left:-1px; background-position:0 -15px;}
.tab02 .cont .radius-br{bottom:-1px; right:-1px; background-position:right -15px;}


.userInfo{overflow:hidden;}
.userInfo .photoDiv{
	float:left;
	width:104px;
	padding:10px;
	text-align:center;
}
.userInfo .photoDiv p{padding:0 0 5px;}
.userInfo .infoDiv{margin-left:122px; padding:10px;}
.userInfo table{
	width:100%;
	border:none;
	line-height:20px;
}
.userInfo td{padding:5px 0;}
.userInfo td.name{width:80px; text-align:right;}
.userInfo .topic{
	clear:both;
	margin:5px 0;
	height:30px;
	background:#ffe18c;
	padding:0 20px;
	line-height:30px;
}

.sShop{padding:0 5px 20px 10px; overflow:hidden;}
.line1{width:15px;}
.line2{width:40px;}
.line3{width:60px;}
.line4{width:240px;}
.line4_1{width:120px;font:12px/15px "宋体";}
.line5{width:227px;}
.line6{width:80px;}
.line7{width:253px;}
.line8{width:130px;}
.line9{width:100px;}
.line10{width:253px;}
.line11{width:91px;}
.line12{width:147px;}
.line104{width:104px;}
.line114{width:114px;}
.line260{width:260px;}
.line245{width:245px;}
.line272{width:272px;}
.shophead{clear:both; width:100%;}
.shophead td{height:22px; line-height:22px; padding:10px 0; text-align:center; float:left;}
.inpText1,.inpText2{background:url(../images/MyHome/shophead-text.gif) no-repeat left center; height:22px; border:none; padding:0 5px; float:left;line-height:22px;}
.inpText1{width:137px;}
.inpText2{width:114px;}
.inpBut1{background:url(../images/MyHome/shophead-but.gif) no-repeat; height:22px; width:32px; border:none; line-height:22px; float:left;}
.inpBut1:hover{cursor:pointer;}
.fr{float:right !important;}

.tblWrap{padding-top:10px; overflow:hidden;}
.listTbl{
	width:100%;
	background:white;
	border:solid 1px #a5dbf5;
}
.listTbl thead{height:28px; background:url(../images/MyHome/bg-listTbl-thead-x.gif) repeat-x; line-height:26px;}
.listTbl thead th{background:url(../images/MyHome/bg-listTbl-thead-bg.gif) no-repeat right center; padding-right:1px; text-align:center;}
.listTbl tfoot{height:25px; background:url(../images/MyHome/bg-listTbl-tfoot-x.gif) repeat-x;}
.listTbl tbody{line-height:35px;}
.listTbl th,.listTbl td{padding:0 0;}
.listTbl tfoot td{padding:0 6px;}
.listTbl tbody td{text-align:center; background:url(../images/MyHome/bg-listTbl-tbody-bg.gif) repeat-y right; padding-right:1px;color:#666;}
span.time{line-height:18px; display:block; height:18px; float:left; width:74px;}
span.item{float:left; display:block; height:36px; line-height:36px; text-align:center; width:100%;}
.listTbl tbody td.last,.listTbl thead th.last{background:none; padding:0;}
.listTbl th{text-align:left; color:#009fe9;}
.listTbl tbody tr.alt{background:#f4fcff;}
.listTbl tbody tr.over{background:#fffcdb;}

.listTbl .number{width:30px; text-align:center;}
.listTbl .money{width:100px;}
.listTbl .shop{width:100px;}
.listTbl .caozuo{width:40px;}
.listTbl .shop1{width:120px;}
.listTbl .shop img{vertical-align:middle;}
.listTbl td.money{color:red;}
.listTbl tbody tr.bj{background-color: #F4FCFF;}
.editicon1,.editicon2,.editicon3,.editicon4{float:left; display:block; width:20px; height:20px; margin:7px 5px 0 0;}
.editicon1{background:url(../images/icons/icon-refresh.png) no-repeat center;}
.editicon2{background:url(../images/icons/icon-picture.png) no-repeat center;}
.editicon3{background:url(../images/icons/icon-edit1.png) no-repeat center;}
.editicon4{background:url(../images/icons/icon-del.png) no-repeat center;}
.editicon5{background:url(../images/icons/icon-right.png) no-repeat center;}
.editicon1:hover,.editicon1on{background:url(../images/icons/icon-refresh-over.png) no-repeat center;}
.editicon2:hover,.editicon2on{background:url(../images/icons/icon-picture-over.png) no-repeat center;}
.editicon3:hover,.editicon3on{background:url(../images/icons/icon-edit1-over.png) no-repeat center;}
.editicon4:hover,.editicon4on{background:url(../images/icons/icon-del-over.png) no-repeat center;}
.editicon5:hover,.editicon5on{background:url(../images/icons/icon-right-over.png) no-repeat center;}


ul.paging{width:400px; margin:0 auto;}
ul.paging li,ul.paging2, ul.paging3 li{float:left; padding:3px 5px 0;}
ul.paging li img,ul.paging2, ul.paging3 li img{margin:0 5px; vertical-align:middle;}
ul.paging input,ul.paging2,ul.paging3 input{
	
	height:17px;
	margin:0 4px;
	border:none;
	background:url(../images/MyHome/bg-tfoot-input.png) no-repeat;
	overflow:hidden;
	text-align:center;
}
ul.paging input.but,ul.paging2,ul.paging3 input{width:32px;}
ul.paging input.text{width:32px;width:30px\9;+width:30px;_width:30px;}
ul.paging .but,ul.paging2 .but,ul.paging3 .but{background-position:-32px 0; cursor:pointer; padding-bottom:10px; color:white;}

ul.paging2{width:260px; margin-left:128px;}
ul.paging3{width:260px; margin-left:620px;}

.listTbl .proIcon{
	float:left;
	width:32px;
	height:32px;
	margin-right:10px;
}
.poopupTbl{width:100%; border:none; line-height:30px;}
.poopupTbl th{font-weight:bold; text-align:left;}
.poopupTbl .number{width:20px; text-align:center;}
.poopupTbl .name{
	width:100px;
	text-align:right;
	vertical-align:top;
}

.infoTbl01{width:100%; border:none; line-height:30px;}
.bluetxt{color: #009FE9;font: bold 18px/200% "微软雅黑","宋体"; padding-left:20px;}
.infoTbl01 .name{
	width:100px;
	text-align:right;
	vertical-align:top;
}


.shopArea1{padding:20px 10px; text-align:right;}
.shopArea2{padding:20px 10px 5px; text-align:center;}

.textCss01,.textCss02,.textCss03,.textCss05,.textCss06,.textCss07,.textCss08{
	width:150px;
	height:20px;
	margin:0 5px;
	border:solid 1px #ccc;
}
select.textCss01{width:152px; height:24px;}

.textCss02{width:30px; text-align:center;}
.textCss03{width:100px; height:18px;}
.textCss05{width:60px;}
.textCss06{width:200px;}
.textCss07{width:200px; padding:0 5px;}
.textCss08{width:43px;}
.textCss09{width:80px; height:20px;margin:0 5px;border:solid 1px #ccc;}

select.textCss01{width:152px; height:24px;}
select.textCss03{width:102px; height:24px;}
select.textCss05{width:62px;  height:24px;}
select.textCss08{width:212px; height:24px;}

.areaCss04{
	width:200px;
	margin:5px;
	padding:5px;
	border:solid 1px #ccc;
	font-size:12px;
	line-height:20px;
}



.btnCss01,
.jxBtn,.jsBtn,
.popupBtn01,.popupBtn02,
.loginBtn01,.loginBtn02,.loginBtn03{
	border:none;
	background:url(../images/MyHome/bg-btn.png) no-repeat;
	vertical-align:middle;
	cursor:pointer;
}

.btnCss01{
	width:90px;
	height:28px;	
	color:#009fe9;	
}
.jxBtn,
.on{width:165px; height:43px; font:22px/43px "微软雅黑";}
.jxBtn{background-position:0 -28px;}
.jxBtn:hover,.on{background-position:0 -71px; color:#fff; cursor:pointer;}

.popupBtn01,.popupBtn02{margin:0 5px; color:#009fe9;}
.popupBtn01{
	width:49px;
	height:23px;
	background-position:0 -114px;
	color:#009fe9;
}
.popupBtn01:hover{background-position:-49px -114px;}
.popupBtn02{
	width:54px;
	height:24px;
	background-position:0 -137px;
	color:#c16202;
	font:13px/24px "微软雅黑";
}
.loginBtn01,.loginBtn02{
	width:150px;
	height:34px;
	margin:0 5px;
	background-position:0 -161px;
	color:white;
	font:bold 14px/34px "";
}
.loginBtn02{background-position:0 -231px; color:#009fe9;}
.loginBtn03{
	width:202px;
	height:36px;
	background-position:0 -195px;
	color:#333;
	font:bold 14px/34px "";
}

.ulList01{overflow:hidden;}
.ulList01 li{float:left; padding:5px 10px 5px 0;}
.ulList02{float:right; padding:20px 0;}
.ulList02 li{float:left; padding-right:30px;}
.ulList02 span{color:red;}
.ulList03{overflow:hidden;}
.ulList03 li{float:left; padding:10px;}

.Txtle{background:url(../images/MyHome/shophead-text2.gif) no-repeat left center; display:block; float:left; padding:0 0 0 10px; height:22px; border:none;}
.Txtri{background:url(../images/MyHome/shophead-text2.gif) no-repeat right center; display:block; float:left; padding:0 10px 0 0; height:22px; border:none;}
.wid1{margin-right:11px;}

.Areale{background:url(../images/MyHome/textarea-bg.gif) no-repeat left; display:block; float:left; height:52px; padding:0 0 0 10px; border:none; margin-bottom:8px;}
.Areari{background:url(../images/MyHome/textarea-bg.gif) no-repeat right; display:block; float:left; height:42px; padding:5px 10px 5px 0; border:none; margin:0; font:12px/15px "宋体";resize: none;}
.Areale2{background:url(../images/MyHome/textarea-bg2.gif) no-repeat left; display:block; float:left; height:112px; padding:0 0 0 10px; border:none; margin-bottom:8px;}
.Areari2{background:url(../images/MyHome/textarea-bg2.gif) no-repeat right; display:block; float:left; height:102px; padding:5px 10px 5px 0; border:none; margin:0; font:12px/15px "宋体";}

.goon{text-decoration:underline;}
.quit{text-decoration:underline; color:#ff9900;}
.goon:hover,.quit:hover{text-decoration:none;}

.massage td{float:left;}
.morechoice{border:none; background:url(../images/MyHome/morechoice.gif) no-repeat center; width:49px; height:23px; line-height:23px; color:#009fe9;}
.morechoice:hover{cursor:pointer;}

.loginOk,.loginFaile{
	
	padding:60px 0 60px 230px;
}
.loginOk h4{color:#297b29; font-weight:bold; font-size:30px; height:50px; line-height:50px;background:url(../images/icons/register.png) no-repeat left center; padding-left: 90px;}
.loginFaile h4{color:#297b29; font-weight:bold; font-size:30px; height:50px; line-height:50px;background:url(../images/icons/delete.png) no-repeat 25px center; padding-left: 90px;}
.loginOk p,.loginFaile P{line-height:30px; color:#748774;  padding: 10px 0 10px 94px;}
.loginOk input,.loginFaile input{margin-left:94px;}
.orderOk{
	background:url(../images/icons/order.png) no-repeat 180px 70px;
	padding:60px 0 60px 270px;
}
.orderOk h4{color:#297b29; font-weight:bold; font-size:24px; height:40px; line-height:40px;}
.orderOk p{line-height:30px; color:#748774; padding-left:5px;}

/*隐藏导航*/
.hidenav{
	position:absolute;
	z-index:-1;
	left:275px;
	top:-30px;
	display:none;
}
.tophover,.bothover{height:8px; clear:both;}
.round1,.round2,.round3,.round4{display:block; width:8px; height:8px;}
.round1{background:url(../images/MyHome/bg-menu-hover-tople.png) no-repeat; float:left;}
.round2{background:url(../images/MyHome/bg-menu-hover-topri.png) no-repeat; float:right;}
.tophover p{height:7px; border-top:1px solid #ffac2b; background:#FFF; margin:0 8px;}
.bothover{height:8px; clear:both;}
.round3{background:url(../images/MyHome/bg-menu-hover-botle.png) no-repeat; float:left;}
.round4{background:url(../images/MyHome/bg-menu-hover-botri.png) no-repeat; float:right;}
.bothover p{height:7px; border-bottom:1px solid #ffac2b; background:#FFF; margin:0 8px;}
.midhover{
	border-left:1px solid #ffac2b;
	border-right:1px solid #ffac2b;
	background:#FFF;
	padding:10px 30px;
	min-height:20px;
	min-width:560px;
	overflow:hidden;
}
.lefblock{float:left;width:100%;}
.lefblock h2,.rigblock h2{font-size:18px; color:#009ee8; padding-left:5px;}
.block{border-bottom:1px dotted #f3decf; clear:both; float:left;width:100%;}

/*to fix bug:3053*/
.block dd{ float:left;}
/*to fix bug:3043*/
.block dd span{font-size:12px;margin:0px 5px;color:#ccc; font-family: "宋体";}
.block a.tex{padding:2px 5px; color:#666;  border:1px solid #FFF;font: 12px/24px "微软雅黑"; }
.block a.tex:hover{border:1px solid #ffac2b; text-decoration:none;}
.block a.title{color:#b45a01; padding-left:5px; display:block; font:bold 14px/24px "宋体";}
.rigblock{width:100px; float:right;}
.product1,.product2,.product3,.product4,.product5,.product6,.product7{display:block; width:80px; height:30px; margin:10px 0; border:1px solid #FFF;}
.product1{background:url(../images/products/vm65.png) no-repeat center;}
.product2{background:url(../images/products/backup65.png) no-repeat center;}
.product3{background:url(../images/products/vdisk65.png) no-repeat center;}
.product4{background:url(../images/products/objstor65.png) no-repeat center;}
.product5{background:url(../images/products/tip65.png) no-repeat center;}
.product6{background:url(../images/products/bw65.png) no-repeat center;}
.product7{background:url(../images/products/firewall65.png) no-repeat center;}
.rigblock a:hover{border:1px solid #ffac2b;}
/*网盘*/
.tree{width:181px; float:left; height:518px; border:1px solid #019fe9;}
.Htree{color:#009fe9; background:url(../images/MyHome/bg-tree-head.gif) repeat-x; height:24px; border-bottom:1px solid #019fe9; font:bold 14px/24px "宋体"; text-align:center;}
.Htree2{height:24px; border-bottom:1px dashed #019fe9; font:12px/24px "宋体"; text-align:center;}
.Htree2 a{color:#009fe9; display:block; float:left; width:90px;}
.Htree2 a.new{border-right:1px solid #ffa310;}
.Itree{padding:5px;}
.Itree li{line-height:20px; padding-left:28px; background:url(../images/icons/tree-icon5.gif) no-repeat left 3px;}
.Itree li.Firtree1,.Itree li.Firtree2,.Itree li.Firtree3,.Itree li.Firtree4{line-height:30px;}
.Itree li.Firtree1{background:url(../images/icons/tree-icon1.gif) no-repeat left 3px;}
.Itree li.Firtree2{background:url(../images/icons/tree-icon2.gif) no-repeat left 3px;}
.Itree li.Firtree3{background:url(../images/icons/tree-icon3.gif) no-repeat left 3px;}
.Itree li.Firtree4{background:url(../images/icons/tree-icon4.gif) no-repeat left 3px;}
.Itree li:hover{cursor:pointer;}
.treeri{margin-left:187px;}
.treeri .cont{
	border:solid 1px #ced4db;
	border-top:none;
	background:url(../images/bg-hotList02-cont-x.gif) repeat-x;
	padding:10px 4px;
	height:470px;}
.Htree3{color:#009fe9; font:bold 14px/30px "宋体"; padding-left:10px;}
.Htree3 span{float:right; font:12px/30px "宋体"; padding-right:10px;}
.Htree3 span h1{display:block; float:right; padding-left:12px; background:url(../images/MyHome/bg-tree-bg1.gif) no-repeat right center; width:106px; height:30px;}
.Htree3 span h1 a{background:url(../images/MyHome/bg-tree-bg2.gif) repeat-x center left; display:block; height:30px; width:40px;}
.treeico1,.treeico2{padding-left:20px; display:block; text-align:left;}
.treeico1:hover,.treeico2:hover{text-decoration:none;}
.treeico1{background:url(../images/icons/tree-icon5.gif) no-repeat left center;}
.treeico2{background:url(../images/icons/tree-icon6.gif) no-repeat left center;}
.Hline td{height:25px; line-height:25px;}
.cardTotal h1{font:12px/24px "宋体"; color:#009fe9; padding-left:10px;}
.Actbut{padding-bottom:10px; height:20px;}
.Actbut a{border:1px solid #c1c1c1; height:20px; line-height:20px; background:url(../images/MyHome/bg-tree-but.gif) repeat-x; display:block; float:left; padding:0 9px; margin-right:8px;}
.moreBut{display:block; float:right; background:url(../images/MyHome/bg-tree-but2.png) no-repeat center; width:10px; height:20px; position:relative;}
.Actbut a:hover{text-decoration:none;}
.overBut1{border:1px solid #c1c1c1; position:absolute; top:21px; width:100px; left:-46px; background:#FFF; display:none;}
.overBut2{border:1px solid #c1c1c1; position:absolute; top:21px; width:100px; left:-34px; background:#FFF; display:none;}
.overBut1 ul li,.overBut2 ul li{height:25px; line-height:25px; padding:0 10px;}
.color1{background:#f4fcff;}
.overBut1 ul li:hover,.overBut2 ul li:hover{background:#fffcdb; cursor:pointer;}

.Tmsg{width:100%; text-align:left; line-height:25px;}
.Tmsg .titmsg{text-align:right; font-weight:bold; width:70px; font-family:"微软雅黑";}



.product{
	border:solid 1px #ced4db;
	border-top:none;
	background:url(../images/bg-hotList02-cont-x.gif) repeat-x;
	padding:20px;
}
.select-o ul{ width: 156px; background: #f3f3f3;border: 1px solid #CD956E;}
.select-o{ width:156px; position: absolute;z-index: 9999; left:478px;top:44px}
.select-o ul li{ background-image: none; width:156px; height:24px;line-height:24px;float:left; border-bottom: 1px dotted #ccc;margin: 0px;padding:0px;}
.select-o ul li a{ color: #333;width:136px; margin: 0px;padding:0px 0px 0px 15px; text-decoration: none; text-align: left; }
.select-o ul li:hover{background: #f8e5cf; text-decoration: none; }

.select-po ul{ width: 156px; background: #f3f3f3;border: 1px solid #CD956E;}
.select-po{ width:156px; position: absolute;z-index: 9999; left:540px;top:44px}
.select-po ul li{ background-image: none; width:156px; height:24px;line-height:24px;float:left; border-bottom: 1px dotted #ccc;margin: 0px;padding:0px;}
.select-po ul li a{ color: #333;width:136px; margin: 0px;padding:0px 0px 0px 15px; text-decoration: none; text-align: left; }
.select-po ul li:hover{background: #f8e5cf; text-decoration: none; }


.select-g1 ul{ width: 142px;}
.select-g1{ width:142px; position: absolute;z-index: 9999; left:786px;top:229px; background: #FCFCFC;border: 1px solid #BEBEBE;}
.select-g1 ul li{ background-image: none; width:142px; height:24px;line-height:24px;float:left; border-bottom: 1px dotted #ccc;margin: 0px;padding:0px;text-align: left;}
.select-g1 ul li a{ color: #333;width:136px; margin: 0px;padding:5px; text-decoration: none;}
.select-g1 ul li:hover{background: #F0F0F0; text-decoration: none; }

.select-g2 ul{ width: 142px;}
.select-g2{ width:142px; position: absolute;z-index: 9999; left:1018px;top:229px; background: #FCFCFC;border: 1px solid #BEBEBE;}
.select-g2 ul li{ background-image: none; width:142px; height:24px;line-height:24px;float:left; border-bottom: 1px dotted #ccc;margin: 0px;padding:0px;text-align: left;}
.select-g2 ul li a{ color: #333;width:136px; margin: 0px;padding:5px; text-decoration: none;}
.select-g2 ul li:hover{background: #F0F0F0; text-decoration: none; }

.select-o2 ul{ width: 140px; }
.select-o2{ width:139px; position: relative;z-index:9998; left:-10px;top:-2px;background:#f3f3f3;border: 1px solid #CD956E;float:left;}
.select-o2 ul li{ background-image: none; width:139px; height:24px;line-height:24px;float:left; border-bottom: 1px dotted #ccc;margin: 0px;padding:0px;}
.select-o2 ul li a{ color: #333;width:115px; margin: 0px;padding:0px 0px 0px 15px; text-decoration: none; text-align: left; }
.select-o2 ul li:hover{background: #f8e5cf; text-decoration: none; }

.buyvminput {width: 273px;}
.numPage_div{ width:100%;text-align: center;}
.numPage_div li{list-style: none; }
.numPage_div li a img{margin: 0 5px;}

.selectbox{ height:20px; padding-left:4px; line-height:20px; border:none; display:block; cursor:pointer; background:url(../images/newselect.gif) no-repeat right; border-left:1px solid #CCC;  overflow:hidden; border-right:23px;}
div.selectbox-wrapper{ border:1px solid #ccc; border-top:1px solid #CCC; margin-top:-2px; position:absolute; text-align:left; background-color:#ffffff;padding:1px 2px;}
div.selectbox-wrapper ul li{ padding-left:4px; cursor:pointer; line-height:20px; font-size:12px}
div.selectbox-wrapper ul li.selected{background-color:#fdf7ed}
div.selectbox-wrapper ul li.hover{color:#fff; background-color:#fcd292}    
 /* help */ 
.help-top{background:url(../images/help_top_bj.png) repeat-x;border: 1px solid #fec756;border-bottom:none;height:30px; color:#fff; font:bold 14px/40px "微软雅黑"; text-align:right;width:100%; }
.help-top span{margin-right:10px;line-height:30px;background:url(../images/help-ser.png) no-repeat left 2px;padding-left:20px;cursor: pointer;}
.help-top span a{color:#fff;}
.help-top span a:hover{color:#843603;text-decoration: none;}
.helplogo{float:right; padding-top:50px; padding-right:15px; color:#627b09;}
.cartBox .help{
	
	border-top:none;
	background:url(../images/bg-hotList02-cont-x.gif) repeat-x;
	padding-top:15px;
	border-bottom: 1px solid #ccc;padding-bottom:10px;
}
.helple{width:180px; float:left;    border: 1px solid #E8E8E8;
    padding: 10px;min-height:400px;}
.helple h1{ padding: 0px 0 10px 30px;font:bold 15px/30px "微软雅黑"; background:url(../images/help.png) 1px 7px no-repeat; }
.helple ul{border-top: 1px solid #ff9900;
    clear: both;
    overflow: hidden;
    padding: 0 0px 5px;}
.helple ul li{clear: both;
    color: #424242;
    display: block;
    padding: 5px 0 5px 30px;
    border-top: 1px solid #E7E7E7;
    font:14px/22px "微软雅黑";
    } 
.helple ul li.select,.helple ul li.select:hover{background:url(../images/help_list_select.gif) left no-repeat;border: 1px solid #6b7995;color:#fff;}     
 .helple ul li:hover{background: #eee;cursor: pointer;}     
.helple a{
	display:block;
	width:78px;
	height:20px;
	text-align:center;
	margin-bottom:1px;
	border:1px solid #C1C1C1;
	background:url(../images/MyHome/bg-tree-but.gif) repeat-x;
}
.helple a:hover,.helple a.current{text-decoration:none; color:#369fe9;}
.helpri{margin-left:82px; padding:10px 20px; min-height:400px; overflow:hidden;color:#666;font:12px/24px "微软雅黑,宋体";  }
.helpri h1{color:#424242; font:bold 16px/40px "微软雅黑"; text-align:center; border-bottom:1px solid #C1C1C1;}
 /* contact */ 
 .contactCon{background:url(../images/contact-img.png) left top no-repeat; width:100%; height:300px; }
 .cartBox h3{color:#fabf66;font:bold 20px/60px "微软雅黑";}
 .contactCon ul{float:left;font:16px/42px "微软雅黑";margin:30px 0px 0px 570px;}
  .contactCon ul li span{font-weight:bold;}

.flashDiv{
	width:100%;
	height:460px;
	background:white;
	border:solid 1px #a5dbf5;
}
.sFlashCont{
	margin:-5px 20px 0 273px;
	padding:20px 10px 4px;
	height:593px;
	border:solid 0px #a5dbf5;
	background:url(../images/MyHome/bg-sCont-top-x.gif) repeat-x top;
}
.loadingDiv{
	margin:-300px -20px 0 350px;
	padding:50px 50px 150px;
	width:80px;
	height:80px;
	background:white;
	border:solid 0px #a5dbf5;
}